* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
}
:root {
  --black: #000;
  --white: #fff;
  --text-primary-color: #088178;
  --nav-text-color: #1a1a1a;
  --nav-bg: #e3e6f3;
  /* nav color  */
  --hero-sub-heading-color: #f8f8f8;
  --hero-heading-color: #222;
  --hero-content-color: #465b52;
  /* hero color  */
  --f-box-border-color: #cce7d0;
  --f-box--1-bg: #fddde4;
  --f-box--2-bg: #cdebbc;
  --f-box--3-bg: #d1e8f2;
  --f-box--4-bg: #cdd4f8;
  --f-box--5-bg: #f6dbf6;
  --f-box--6-bg: #fff2e5;
  /* feature color  */
  --off-con-text-color: #eaebf0;
  /* off container color  */
  --shopping-cart-text-color: #f8f8f8;
  /* shopping-card-color  */
  --footer-text-color: #6d6d6d;
  /* footer color  */
}
header {
  /* nav  */
  nav {
    padding: 2rem 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-bg);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100000000;
  }
  /* logo  */
  nav .logo {
    cursor: pointer;
  }
  /* list  */
  nav ul {
    display: flex;
    list-style: none;
    padding-right: 2rem;
    align-items: center;
    justify-content: center;
  }
  nav ul li {
    padding: 0 2rem;
    position: relative;
    transition: all 0.3s ease;
  }
  nav ul li a:hover {
    color: var(--text-primary-color);
  }
  nav ul li::before {
    content: "";
    border-bottom: 2px solid var(--text-primary-color);
    width: 0;
    position: absolute;
    bottom: -5px;
    cursor: pointer;
  }
  nav ul li:hover::before {
    width: 70%;
  }
  nav ul li:nth-of-type(1)::before {
    width: 54%;
  }
  nav ul li:nth-of-type(2):hover::before {
    width: 52%;
  }
  nav ul li:nth-of-type(3):hover::before {
    width: 52%;
  }
  nav ul li:nth-of-type(4):hover::before {
    width: 56%;
  }
  nav ul li a {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
    display: inline-block;
    color: var(--nav-text-color);
  }
  nav ul li:first-of-type a {
    color: var(--text-primary-color);
  }
  /* icon menu  */
  .icon-menu {
    margin-right: 5rem;
    cursor: pointer;
    display: none;
    .i-box {
      height: 2px;
      width: 2.4rem;
      background-color: var(--black);
      margin-top: 0.5rem;
    }
  }
  /* nav end */
  .hero {
    width: 100%;
    height: 100vh;
    background-image: url("./images/hero4.png");
    background-size: cover;
    padding: 0 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hero .sub-heading {
    color: var(--hero-sub-heading-color);
    font-size: 4rem;
    padding-bottom: 1.5rem;
    font-weight: 700;
    margin-bottom: -1.5rem;
  }
  .hero .heading {
    color: var(--hero-heading-color);
    font-size: 7rem;
  }
  .hero .heading span {
    color: var(--text-primary-color);
    display: block;
    margin-top: -2rem;
  }
  .hero-content {
    color: var(--hero-content-color);
    font-size: 1.6rem;
    margin: 1.5rem 0 2rem;
  }
  .hero-btn {
    font-size: 2rem;
    padding: 1.4rem 6.5rem;
    width: 26rem;
    height: 6rem;
    background-image: url("./images/button.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: 0;
    color: var(--text-primary-color);
    font-weight: 700;
  }
  /* hero end  */
}
main {
  /* features */
  .features {
    margin: 0 15rem;
    padding: 4rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  .features .f-box {
    margin: 1.5rem 0;
    padding: 2.5rem 1.5rem;
    text-align: center;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid var(--f-box-border-color);
    border-radius: 0.5rem;
    flex-basis: 16.67%;
    cursor: pointer;
  }
  .features .f-box:hover {
    box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.1);
  }
  .features .f-box img {
    margin-bottom: 1rem;
  }
  .features .f-box p {
    font-size: 1.4rem;
    width: fit-content;
    padding: 0.9rem 0.8rem 0.6rem;
    font-weight: 700;
    color: var(--text-primary-color);
    margin: 0 auto;
    border-radius: 0.4rem;
  }
  .features .f-box--1 p {
    background-color: var(--f-box--1-bg);
  }
  .features .f-box--2 p {
    background-color: var(--f-box--2-bg);
  }
  .features .f-box--3 p {
    background-color: var(--f-box--3-bg);
  }
  .features .f-box--4 p {
    background-color: var(--f-box--4-bg);
  }
  .features .f-box--5 p {
    background-color: var(--f-box--5-bg);
  }
  .features .f-box--6 p {
    background-color: var(--f-box--6-bg);
  }
  /* features end  */
  /* featured-product and new arrival */
  .featured-product,
  .new-arrival {
    h2 {
      font-size: 5rem;
      line-height: 6.4rem;
      text-align: center;
      letter-spacing: 0.2rem;
      color: var(--hero-heading-color);
    }
    .featured-product-content,
    .new-arrival-content {
      color: var(--hero-content-color);
      font-size: 1.6rem;
      margin: 1.5rem 0 2rem;
      text-align: center;
    }
    /* product-container  */
    .product-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin: 0 6rem;
      gap: 3rem;
    }
    .product-container .p-box {
      box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
      border-radius: 2.5rem;
      padding: 1.3rem;
      border: 2px solid #ebebeb;
    }
    .product-container .p-box:hover {
      box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    }
    .product-container .p-box img {
      width: 100%;
      border-radius: 2.5rem;
    }
    .product-container .brand {
      color: #969696;
      font-size: 1.6rem;
      line-height: 2;
    }
    .product-container .product-heading {
      font-size: 1.8rem;
      color: #292929;
      font-weight: 700;
    }
    .price-cart {
      width: 100%;
      display: flex;
      justify-content: space-between;
      position: relative;
      margin-top: 1rem;
      align-items: center;
    }
    .price-cart .shoping-card {
      width: 3rem;
      height: 3rem;
      background-color: #c7e9e75e;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .price-cart .shoping-card img {
      width: 2.2rem;
      height: 100%;
    }
    .product-container .price {
      color: var(--text-primary-color);
      font-size: 1.8rem;
      padding: 0.4rem 0;
      line-height: 2;
    }
  }
  /* featured-product and new arrival end */
}
