* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
}
:root {
  --black: #000;
  --white: #fff;
  --text-primary-color: #088178;
  --nav-text-color: #1a1a1a;
  --nav-bg: #e3e6f3;
  /* nav color  */
  --hero-sub-heading-color: #f8f8f8;
  --hero-heading-color: #222;
  --hero-content-color: #465b52;
  /* hero color  */
  --f-box-border-color: #cce7d0;
  --f-box--1-bg: #fddde4;
  --f-box--2-bg: #cdebbc;
  --f-box--3-bg: #d1e8f2;
  --f-box--4-bg: #cdd4f8;
  --f-box--5-bg: #f6dbf6;
  --f-box--6-bg: #fff2e5;
  /* feature color  */
  --off-con-text-color: #eaebf0;
  /* off container color  */
  --shopping-cart-text-color: #f8f8f8;
  /* shopping-card-color  */
  --footer-text-color: #6d6d6d;
  /* footer color  */
}
header {
  /* nav  */
  nav {
    padding: 2rem 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-bg);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100000000;
  }
  /* logo  */
  nav .logo {
    cursor: pointer;
  }
  /* list  */
  nav ul {
    display: flex;
    list-style: none;
    padding-right: 2rem;
    align-items: center;
    justify-content: center;
  }
  nav ul li {
    padding: 0 2rem;
    position: relative;
    transition: all 0.3s ease;
  }
  nav ul li a:hover {
    color: var(--text-primary-color);
  }
  nav ul li::before {
    content: "";
    border-bottom: 2px solid var(--text-primary-color);
    width: 0;
    position: absolute;
    bottom: -5px;
    cursor: pointer;
  }
  nav ul li:hover::before {
    width: 70%;
  }
  nav ul li:nth-of-type(1)::before {
    width: 54%;
  }
  nav ul li:nth-of-type(2):hover::before {
    width: 52%;
  }
  nav ul li:nth-of-type(3):hover::before {
    width: 52%;
  }
  nav ul li:nth-of-type(4):hover::before {
    width: 56%;
  }
  nav ul li a {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
    display: inline-block;
    color: var(--nav-text-color);
  }
  nav ul li:first-of-type a {
    color: var(--text-primary-color);
  }
  /* icon menu  */
  .icon-menu {
    margin-right: 5rem;
    cursor: pointer;
    display: none;
    .i-box {
      height: 2px;
      width: 2.4rem;
      background-color: var(--black);
      margin-top: 0.5rem;
    }
  }
  /* nav end */
  .hero {
    width: 100%;
    height: 100vh;
    background-image: url("./images/hero4.png");
    background-size: cover;
    padding: 0 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hero .sub-heading {
    color: var(--hero-sub-heading-color);
    font-size: 4rem;
    padding-bottom: 1.5rem;
    font-weight: 700;
    margin-bottom: -1.5rem;
  }
  .hero .heading {
    color: var(--hero-heading-color);
    font-size: 7rem;
  }
  .hero .heading span {
    color: var(--text-primary-color);
    display: block;
    margin-top: -2rem;
  }
  .hero-content {
    color: var(--hero-content-color);
    font-size: 1.6rem;
    margin: 1.5rem 0 2rem;
  }
  .hero-btn {
    font-size: 2rem;
    padding: 1.4rem 6.5rem;
    width: 26rem;
    height: 6rem;
    background-image: url("./images/button.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: 0;
    color: var(--text-primary-color);
    font-weight: 700;
  }
  /* hero end  */
}
main {
  /* features */
  .features {
    margin: 0 15rem;
    padding: 4rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  .features .f-box {
    margin: 1.5rem 0;
    padding: 2.5rem 1.5rem;
    text-align: center;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid var(--f-box-border-color);
    border-radius: 0.5rem;
    flex-basis: 16.67%;
    cursor: pointer;
  }
  .features .f-box:hover {
    box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.1);
  }
  .features .f-box img {
    margin-bottom: 1rem;
  }
  .features .f-box p {
    font-size: 1.4rem;
    width: fit-content;
    padding: 0.9rem 0.8rem 0.6rem;
    font-weight: 700;
    color: var(--text-primary-color);
    margin: 0 auto;
    border-radius: 0.4rem;
  }
  .features .f-box--1 p {
    background-color: var(--f-box--1-bg);
  }
  .features .f-box--2 p {
    background-color: var(--f-box--2-bg);
  }
  .features .f-box--3 p {
    background-color: var(--f-box--3-bg);
  }
  .features .f-box--4 p {
    background-color: var(--f-box--4-bg);
  }
  .features .f-box--5 p {
    background-color: var(--f-box--5-bg);
  }
  .features .f-box--6 p {
    background-color: var(--f-box--6-bg);
  }
  /* features end  */
  /* featured-product and new arrival */
  .featured-product,
  .new-arrival {
    h2 {
      font-size: 5rem;
      line-height: 6.4rem;
      text-align: center;
      letter-spacing: 0.2rem;
      color: var(--hero-heading-color);
    }
    .featured-product-content,
    .new-arrival-content {
      color: var(--hero-content-color);
      font-size: 1.6rem;
      margin: 1.5rem 0 2rem;
      text-align: center;
    }
    /* product-container  */
    .product-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin: 0 6rem;
      gap: 3rem;
    }
    .product-container .p-box {
      box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
      border-radius: 2.5rem;
      padding: 1.3rem;
      border: 2px solid #ebebeb;
    }
    .product-container .p-box:hover {
      box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    }
    .product-container .p-box img {
      width: 100%;
      border-radius: 2.5rem;
    }
    .product-container .brand {
      color: #969696;
      font-size: 1.6rem;
      line-height: 2;
    }
    .product-container .product-heading {
      font-size: 1.8rem;
      color: #292929;
      font-weight: 700;
    }
    .price-cart {
      width: 100%;
      display: flex;
      justify-content: space-between;
      position: relative;
      margin-top: 1rem;
      align-items: center;
    }
    .price-cart .shoping-card {
      width: 3rem;
      height: 3rem;
      background-color: #c7e9e75e;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .price-cart .shoping-card img {
      width: 2.2rem;
      height: 100%;
    }
    .product-container .price {
      color: var(--text-primary-color);
      font-size: 1.8rem;
      padding: 0.4rem 0;
      line-height: 2;
    }
  }
  /* featured-product and new arrival end */
  /* off section  */
  .off-container {
    margin: 4rem 0;
    background-image: url("./images/banner/b2.jpg");
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--off-con-text-color);
  }
  .off-container .title {
    font-size: 2rem;
    font-weight: 700;
  }
  .off-container h2 {
    font-size: 4.6rem;
    padding: 2rem 0;
  }
  .off-container .off-btn {
    font-size: 1.4rem;
    background-color: var(--white);
    color: var(--black);
    padding: 1.5rem 3rem;
    border: 0;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
    cursor: pointer;
    text-align: center;
  }
  .off-container .off-btn:hover {
    background-color: var(--text-primary-color);
  }
  /* off section end */
  /* shopping-cart */
  .shopping-cart {
    width: 120rem;
    padding: 10rem 0 5rem;
    margin: 0 auto;
  }
  .cart-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: var(--shopping-cart-text-color);
    gap: 3rem 0rem;
  }
  /* cart-item */
  .cart-item {
    margin: 1.5rem;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 20rem;
    background-size: cover;
  }
  .cart-item h2 {
    font-size: 2.5rem;
    line-height: 2;
  }
  .cart-item .shopping-content {
    font-size: 1.328rem;
    color: #771818;
    line-height: 2;
    font-weight: 600;
  }
  /* cart-item--1 */
  .cart-item--1 {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 1px;
    padding: 1px;
    height: 30rem;
    line-height: 1;
  }
  /* box  */
  .cart-item--1 .box {
    padding: 2.5rem;
    margin: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 100%;
    line-height: 1;
  }
  /* title  */
  .cart-item--1 .box .title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
  }
  /* h2  */
  .cart-item--1 .box h2 {
    font-size: 4.6rem;
    line-height: 1.3;
  }
  /* content  */
  .cart-item--1 .box .content {
    font-size: 1.6rem;
    line-height: 1.3;
  }
  /* btn */
  .cart-item--1 .box .shopping-btn {
    font-size: 1.6rem;
    margin: 2rem 0 0;
    padding: 1.2rem 2rem;
    background-color: transparent;
    border: 1px solid rgb(248, 248, 248);
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .cart-item--1 .box:hover .shopping-btn {
    background-color: var(--text-primary-color);
    border: 1px solid transparent;
  }
  /* box-1  */
  .cart-item--1 .box-1 {
    flex-basis: 50%;
    background-image: url("./images/banner/b17.jpg");
    margin: 1.4rem;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* box-2  */
  .cart-item--1 .box-2 {
    margin: 1.4rem;
    flex-basis: 50%;
    background-image: url("./images/banner/b10.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* cart-item--1 end  */
  .cart-item--2 {
    background-image: url("./images/banner/b7.jpg");
  }
  .cart-item--3 {
    background-image: url("./images/banner/b4.jpg");
  }
  .cart-item--4 {
    background-image: url("./images/banner/b18.jpg");
  }
  /* shopping-cart end */
  /* sign-up  */
  .sign-up {
    height: 16rem;
    width: 100%;
    background-color: #041e42;
    background-image: url("./images/banner/b14.png");
    background-repeat: no-repeat;
    background-position: 18rem;
  }
  .sign-up--container {
    padding: 0 7.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .su-box--1 h2 {
    font-size: 3rem;
    padding: 0 0 1.5rem;
    color: var(--white);
  }
  .su-box--1 p {
    color: #979797;
    font-size: 1.7rem;
    font-weight: 700;
  }
  .su-box--1 p span {
    color: #d8b61d;
  }
  .su-box-br {
    display: none;
  }
  /* box-2  */
  .su-box--2 input {
    background-color: #d1d0d0;
    margin: 0.1rem -0.4rem 0 0;
    padding: 2rem;
    height: 5.6rem;
    width: 35rem;
    font-size: 1.8rem;
    border: 0;
    border-radius: 0.6rem 0 0 0.6rem;
    outline-color: var(--text-primary-color);
    outline: 0;

    display: inline-block;
  }
  .su-box--2 input:focus {
    outline: 3px solid var(--text-primary-color);
    outline-offset: -3px;
  }
  .su-box--2 button {
    padding: 2rem;
    background-color: var(--text-primary-color);
    border: 0;
    height: 5.7rem;
    display: inline-block;
    width: 11.5rem;
    font-size: 1.7rem;
    color: var(--white);
    border-radius: 0 0.6rem 0.6rem 0;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  .su-box--2 button:hover {
    background-color: #08756e;
  }
  /* sign-up end */
}
/* footer  */

footer {
  width: 100%;
  background-color: #ececec;
}
.foot-container {
  display: grid;
  grid-template-columns: 35% 15% 15% 35%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 7.5rem 0;
}
.foot-container h3 {
  font-size: 1.872rem;
  color: var(--black);
}
/* contact */
.contact {
  flex-basis: 38.8rem;
}
.contact address {
  font-size: 1.6rem;
  color: var(--footer-text-color);
  margin: 1.5rem 0 2rem;
}
/* about & account */
.about {
  flex-basis: 20rem;
}
.account {
  flex-basis: 20rem;
}
.combination-box-2-3 a {
  display: block;
  text-decoration: none;
  color: var(--footer-text-color);
  font-size: 1.6rem;
  padding: 0.8rem 0;
}
.text-hover:hover {
  color: var(--text-primary-color);
}
/* install  */
.install {
  flex-basis: 38.8rem;
}
.install p span {
  color: var(--footer-text-color);
  font-size: 1.6rem;
  margin: 1.5rem 0 2rem;
  display: block;
}
.install .app-image {
  display: flex;
  gap: 0.5rem;
}
.install .app-image img {
  border: 1px solid var(--text-primary-color);
  border-radius: 0.6rem;
  cursor: pointer;
}
.f-hr {
  display: none;
}

/* footer end */
/* media queries */
@media screen and (max-width: 1200px) {
  main {
    .features {
      padding: 4rem 4rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    /* features  */
  }
  /* main end  */
}
@media screen and (max-width: 992px) {
  header {
    nav {
      padding: 2rem;
    }
    nav ul li {
      padding: 0 1.5rem;
    }
    /* nav  */
    .hero .heading {
      font-size: 6rem;
      line-height: 1.3;
    }
  }
  /* header end  */
  main {
    .features {
      padding: 4rem 4rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    /* features  */
  }
  /* main end */
}
@media screen and (max-width: 768px) {
  header {
    nav {
      padding: 1rem 0.5rem;
    }
    nav ul {
      padding-right: 1rem;
    }
    nav ul li {
      padding: 0 1rem;
    }
    nav ul li a {
      font-size: 1.4rem;
    }
    /* nav  */
    .hero .sub-heading {
      font-size: 3rem;
    }
    .hero .heading {
      font-size: 4rem;
      line-height: 1.5;
    }
    .hero-content {
      font-size: 1.4rem;
    }
  }
  /* header end  */
  main {
    .features {
      padding: 4rem 4rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    /* features  */
  }
  /* main end  */
}
@media screen and (max-width: 500px) {
  header {
    nav ul {
      display: none;
    }
    nav .icon-menu {
      display: block;
    }
    /* nav  */
    .hero {
      padding: 0;
      text-align: center;
      background-size: cover;
      background-color: var(--nav-bg);
      background-repeat: no-repeat;

      background-position: left center;
    }
    .hero .sub-heading {
      font-size: 2rem;
    }
    .hero .heading {
      font-size: 2.8rem;
      line-height: 2;
      letter-spacing: 1;
    }
    .hero-content {
      font-size: 1.2rem;
    }
  }
  /* header end  */
  main {
    .features {
      padding: 4rem 9rem;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      margin: 0 8rem;
    }
    /* features  */
  }
  /* main end  */
}
